<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011731760901-p4dhcl2rppeier49ufnmge85sdtp13sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011731760901-p4dhcl2rppeier49ufnmge85sdtp13sg</string>
	<key>API_KEY</key>
	<string>AIzaSyAxZpnrqc1S2JpYTvN9DAvbrfOI-aBXuxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1011731760901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thenotes</string>
	<key>PROJECT_ID</key>
	<string>thenotes-project-2</string>
	<key>STORAGE_BUCKET</key>
	<string>thenotes-project-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011731760901:ios:234b5502817e4b6ca4d96c</string>
</dict>
</plist>